.bg-jav{
    background-color: #1976D2;
}
.text-act{
    color: white;
}

.text-nac{
    color: rgb(3, 3, 100);
}

.titulo-nac{
    border-style: solid;
    border-color: rgb(3, 3, 100);
}

.titulo-act{
    text-aling: center;
    background-color: rgb(3, 3, 100);
}

a:link{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}

.cartas {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: green;
    border-radius: 5px 5px 0 0;
  }

.checked{
    color: orange;
}

.unborder{
    border: 0;
    text-align: center;
}